%h1 Register a new phone

- errors_on @phone do |error|
	- error.on [:name, :not_present], "Please provide a name."
	- error.on [:exten, :not_us_phone], "Please provide a U.S. phone number with only numeric characters."
	- error.on [:type, :not_present], "Please select a phone type."

%form(action="/phones" method="post")
	%p
		%label(for="phone_type") Type
		%span.example e.g. Mobile, landline, or SIP?  (question mark test to explain this)
		%br
		%select{:name => "phone[type]"}
			%option{:value => "mobile", :selected => @phone.is_mobile?} Mobile
			%option{:value => "land", :selected => @phone.is_land?} Landline
			%option{:value => "sip", :selected => @phone.is_sip?} SIP
			
	%p
		%label(for="phone_name") Name
		%span.example e.g. "Chris's mobile phone"
		%br
		%input(name="phone[name]" id="phone_name" value="#{@phone.name}")
		
	%p
		%label(for="phone_exten") Phone Number
		%span.example 11-digit U.S. phone number (e.g. 16178235295) or blank for SIP phones
		%br
		%input(name="phone[exten]" id="phone_exten" value="#{@phone.exten}")
		
	%p
		%button(type="submit")
			Submit

					