%h1 Register a new phone

- errors_on @phone do |error|
	- error.on [:name, :not_present], "Please provide a name."
	- error.on [:exten, :not_present], "Please provide a extension or phone number."
	- error.on [:type, :not_present], "Please select a phone type."

%form(action="/phones" method="post")
	%p
		%label(for="phone_name") Name
		%span.example e.g. "Chris's mobile phone"
		%br
		%input(name="phone[name]" id="phone_name" value="#{@phone.name}")
		
	%p
		%label(for="phone_exten") Extension or Phone Number
		%span.example e.g. 16178235295 or 85
		%br
		%input(name="phone[exten]" id="phone_exten" value="#{@phone.exten}")
		
	%p
		%label(for="phone_type") Type
		%span.example e.g. Mobile, landline, or SIP?  (question mark test to explain this)
		%br
		%input{:type => "radio", :name => "phone[type]", :id => "phone_type_mobile", :value => "mobile", :checked => @phone.type == "mobile" ? true : nil} Mobile
		%br
		%input{:type => "radio", :name => "phone[type]", :id => "phone_type_land", :value => "land", :checked => @phone.type == "land" ? true : nil} Landline
		%br
		%input{:type => "radio", :name => "phone[type]", :id => "phone_type_sip", :value => "sip", :checked => @phone.type == "sip" ? true : nil} SIP
		
	%p
		%button(type="submit")
			Submit
			
#footer
	%p
		This is the Bell phone app.
					