- if numbers.any?
	.list
		%ul
			- numbers.each do |number|
				%li
					!= link_to_number number
					!= number.state
					!= show_availability number
- else
	%p
		= message
		%button(type="button" onclick="javascript:document.location = '/numbers/new'")
			Buy New Number