- if logged_in?
	Hi #{current_user}!
	%br
	%br
	%ul
		%li
			Check out your  
			%a(href="/numbers") numbers 
			or 
			%a(href="/numbers/new") purchase 
			a new one.
		%li
			View your 
			%a(href="/phones") phones 
			or 
			%a(href="/phones/new") register 
			a new one.
		%li
			Listen to your 
			%a(href="/voicemails") voicemail

#footer
	%p
		This is the Bell phone app.