- if logged_in?
	Hi #{current_user}!
	%br
	%br
	%ul
		%li
			Check out or buy 
			%a(href="/numbers") numbers
		%li
			Setup your 
			%a(href="/phones") phones
		%li
			Listen to your 
			%a(href="/voicemails") voicemail

#footer
	%p
		This is the Bell phone app.