- if logged_in?
	%h1 Hi #{current_user}!
	%ul
		%li
			Check out your  
			%a(href="/numbers") numbers 
			or 
			%a(href="/numbers/new") purchase 
			a new one.
		%li
			View your 
			%a(href="/phones") phones 
			or 
			%a(href="/phones/new") register 
			a new one.
		%li
			Listen to your 
			%a(href="/voicemails") voicemail