-# List user's DIDs
-# link to purchase a new DID

- if logged_in?
	%h1
		#{@owner_name}'s numbers

	#grid

		!= list_numbers(@numbers)
		
	%br
	%br
	%ul
		%li
			%a(href="/numbers/new") Purchase Number